<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dynasty.software.the.stylishly">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="dynasty.software.the.stylishly.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="dynasty.software.the.stylishly.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".StylishlyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activities.EntryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.CreateAccountActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.CommentActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.CreateNewPostActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.PhotoPreviewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.CameraActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.TagSearchActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.activities.ProfileActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.ChatActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.activities.EditProfileActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.activities.FriendsSuggestionActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.activities.SyncActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.MyRelationActivity"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back_4_app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back_4_app_application_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back_4_app_client_key" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>



        <meta-data android:name="com.parse.push.gcm_sender_id"
            android:value="id:INPUT_YOUR_GCM_SENDER_ID" />

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="dynasty.software.the.stylishly" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".reciever.StylishlyPushReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>
        <service android:name=".services.CreateNewPostService" />
    </application>
</manifest>
